*{
margin: 0;
padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #111;
    background-color: #f9f9f9;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20231018/pngtree-creative-design-horizontal-kraft-paper-texture-background-in-light-beige-unique-image_13627698.png)
}




.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    background-color: burlywood;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.nav{
    display: flex;
    column-gap: 30px;
}

.nav a{
 text-decoration: none;
 color: black;
 padding-top: 20px;
 margin-top: 30px;
 transition: all 0.3s ease;
}

.nav-toggle{
    display: none;
}

.nav a:hover{
    text-decoration:underline;
    color:brown;
    transition: all 0.5s ease;
    transform: translateY(-2px);
    cursor: pointer;
}

.header{
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 6rem;
}


.header::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: 1;
}
.head{
    max-width: 520px;
    position: relative;
    z-index: 2;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    padding: 0.9rem 2.2rem;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.3s ease;
    background-color: #ffffff;
    color: #111;
}
.hero-btn:hover{
    transform: translateY(-2px);
     background-color: brown;
     cursor: pointer;
}

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: 0;
}
/*side*/

.side-navbar{
    background-color: brown;
    position: fixed;
    top: 0;
    left: -60%;
    width: 50%;
    height: 100%;
    padding: 20px;
    color: black;
    transition: 2s;
    z-index: 3;
}
.sidenav-link{
    margin-bottom: 30px;

}
.sidenav-link a{
    text-decoration: none;
    color:black;
}

.discover{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 1s;
    
     
}

.discover-text h1{
    margin-top: 40px;
    color: transparent;
    background-clip: text;
    font-size: 50px;
    background-image: url(https://www.shutterstock.com/image-illustration/3d-black-triangular-abstract-background-260nw-2268953903.jpg);
}

.discover-con{
    transition: all 1s;
    flex-basis: 20%;
}

.discover-con:hover{
    transition: all 1.5s ease;
    transform: translateX(5px);
}
.discover-con img{
    height: 300px;
    width: 300px;
}

.how-text{
    text-align: center;
    margin-top: 40px;
    padding: 10px;
     color: transparent;
    background-clip: text;
    font-size: 30px;
    background-image: url(https://www.shutterstock.com/image-illustration/3d-black-triangular-abstract-background-260nw-2268953903.jpg);
}

.how{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.how-con{
    flex-basis: 20%;
    padding: 10px;
    border-radius: 19px;
    text-align: center;
    transition: all 1s ease;
}
.how-con:hover{
     background-color: brown;
    transition: all 1s ease;
    transform: translateY(-2px);
}

.trend{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   padding-top: 40px;
   background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20231018/pngtree-creative-design-horizontal-kraft-paper-texture-background-in-light-beige-unique-image_13627698.png)
}
.trend img{
   height: 500px;
   width: 700px;
   border-radius: 10px;
}

.trend-text img{
   padding-top: 10px;
   padding-left: 450px;
   width: 300px;
   border-radius: 20px;
   height: 400px;
}

.trend-text h1{
    padding-top: 10px;
    color: transparent;
    background-clip: text;
    font-size: 50px;
    background-image: url(https://www.shutterstock.com/image-illustration/3d-black-triangular-abstract-background-260nw-2268953903.jpg);
}
.trend-text button{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: brown;
    transition: all 1.5s
}

.trend-text button:hover{
    transition: all 1.5s ease;
    transform: translateY(-3px);
}

.footer-con{
   
   padding: 10px;
    background-color: brown;
    color: black;
}

.product{
    margin-top: 20px;
}
.product-search{
    width:80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus{
    outline: none;
}
.pro{
    padding: 20px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-box{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.login-container {
  background-color:brown ;
  color:black;
  padding: 50px;
  width: 300px;
  border-radius: 8px ;
  border: 3px solid black;;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: 40%;
  margin-right: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
 opacity: 1;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.login-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  
}

.login-container input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #10232C;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  padding: 1rem;
  margin-top: 30px;
  background: white;
  color: #010101;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all -1s;
}
.login-container button:hover {
    transform: translateY(-2px);
  
}

.error {
  color: red;
  font-size: 0.85rem;
  text-align: center;
  display: none;
}



/*media query*/
@media screen and (max-width:600px){
    .nav-toggle{
        display: block;
    }
    .nav{
        display: none;
    }

    .header{
        padding: 0.15rem;
        text-align: center;
        justify-content: center;
    }
    .head{
        max-width: 100px;
    }
}